{% extends 'base2.html' %}
{% load static %}
{% block content %}
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

<div class="award-box">
    <div class="award-text">
        <h2>보더라 TV</h2>
        <p>매월 1,100원 씩 최대 요금 할인</p>
        <p>10년 연속 압도적 1등</p>
    </div>

    <div class="award-icon">
        <img src="{% static 'assets/img/iptv.png' %}" alt="Award Icon">
    </div>

    <h1>&nbsp;</h1>
</div>

<div class="modderra-container">
    <button class="iptv">요금제 보러가기</button>
</div>
<h1>&nbsp;</h1>

{% endblock %}